@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #ebebeb;
}

.cart-status {
  background-color: red;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  font-size: 11px;
  font-weight: 600;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products {
  padding: 120px 20px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.product-card {
  width: 100%;
  max-width:300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  cursor:pointer;
  margin: 0 auto;
  position: relative;
}

.card-image {
  width: 100%;
}

.card-info {
  padding: 20px;
  border-top: 1px solid #ddd;
}

.card-price {
  font-size: 30px;
  font-weight: 400;
  display: block;
  margin-bottom: 10px;
}

.card-title {
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1.5;
  font-weight: 500;
}

.btn-add-cart {
  position:absolute;
  top: 0;
  right: -12px;
  width: 45px;
  height: 45px;
  margin: 12px 15px;
  padding: 12px;
  color: #0c5dd6;
  display: none;
  align-items:center; 
  justify-content: center;
  border: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
  cursor: pointer;
}

.product-card:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)
}

.product-card:hover .btn-add-cart {
  display: flex;
}